<nav>
    <div class="menu">
        <ul class="left">
            <li><a routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Home</a></li>
        </ul>
        <div class="title">
            <h1>Angular 2 Edge App</h1>
        </div>
        <ul class="right">
            <li><a routerLink="/login" routerLinkActive="active">Log In</a></li>
            <li><a routerLink="/sign-up" routerLinkActive="active">Sign Up</a></li>
        </ul>
    </div>
</nav>

<div class="row">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>