<nav>
    <ul *ngIf="!user">
        <li><a [routerLink]="['/home']">Home</a></li>
        <li><a [routerLink]="['/login']">Log In</a></li>
        <li><a [routerLink]="['/signup']">Sign Up</a></li>
    </ul>

    <ul *ngIf="user">
        <li><a [routerLink]="['/home']">Home</a></li>
        <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
        <li (click)="logOut()">Log Out</li>
    </ul>
    <div class="user-profile" *ngIf="user" [innerHTML]="profileImg">
    </div>
</nav>
<div class="row">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>