<nav>
    <div class="intro">
        <h1>Angular 2 Edge App</h1>
    </div>
    <div class="menu">
        <ul class="left">
            <li><a routerLink="home" routerLinkActive="active">About</a></li>
            <li><a *ngIf="user" routerLink="dashboard" routerLinkActive="active">Dashboard</a></li>
        </ul>
        <ul class="right" *ngIf="!user">
            <li><a routerLink="login" routerLinkActive="active">Log In</a></li>
            <li><a routerLink="signup" routerLinkActive="active">Sign Up</a></li>
        </ul>
        <ul class="right" *ngIf="user">
            <li (click)="logOut()"><a>Log Out</a></li>
        </ul>
    </div>
    <div class="user-profile" *ngIf="user" [innerHTML]="profileImg"></div>
</nav>
<div class="row">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>