.avatar-select
  max-height 50rem
  overflow-y scroll
  margin-bottom 2rem
  .single
    width 10%
    height auto
    float left
    padding 0.5rem
    box-sizing border-box
  .single-wrapper
    width 100%
    background $block-background
    box-shadow $global-box-shadow
    cursor pointer
    padding 2rem
    box-sizing border-box
    border-radius 50%
    img
      width 100%
      height auto

    &.active
      background $main-background
