nav
  position relative
  width 100%
  .menu
    width 100%
    display inline-block
    background #e53935
    box-shadow $global-box-shadow
    ul
      list-style-type none
      margin 0
      li
        margin 0
        display inline-block
        font-size 20px
        a
          padding 0 15px
          text-decoration none
          color #e5e5e5
          display inline-block
          line-height 60px
          &:hover
            color #fff
          &.active
            background #e05957
            color #fff !important


  .intro
    position relative
    width 100%
    background #b71c1c
    h1
      color #fff
      text-align center
      line-height 100px
      font-size: 40px
      margin 0