nav
  position relative
  width 100%
  .menu
    width 100%
    height 6rem
    display inline-block
    background $main-background
    box-shadow $global-box-shadow
    ul
      list-style-type none
      margin 0
      li
        margin 0
        display inline-block
        font-size 20px
        a
          padding 0 15px
          text-decoration none
          color #e5e5e5
          display inline-block
          line-height 60px
          &:hover
            color #fff
          &.active
            background darken($main-background, 10)
            color #fff !important


  .title
    position absolute
    width 430px
    display inline-block
    left 50%
    transform translateX(-50%)
    h1
      color #fff
      text-align center
      line-height 6rem
      text-transform uppercase
      letter-spacing 1px
      font-size: 3rem
      margin 0