@import 'skeleton.styl'
@import 'navigation.styl'

.users-block
  visibility hidden
  &.active
    visibility visible

.user-profile
  width 75px
  height 75px

.chat-icon
  width 50px
  height 50px

room ul li.complete > span
  text-decoration line-through