@import 'skeleton.styl'
@import 'navigation.styl'

body
  margin 0

.left
  float left
.right
  float right

.users-block
  visibility hidden
  &.active
    visibility visible

.user-profile
  width 75px
  height 75px

.chat-icon
  width 50px
  height 50px

.small-form
  max-width 400px
  margin 0 auto

.room
  width 32%
  box-sizing border-box
  margin-right 2%
  margin-bottom 20px
  float left
  background #e5e5e5
  box-shadow $global-box-shadow
  padding 20px
  &:nth-child(3n)
    margin-right 0

.create-open
  position fixed
  bottom 0
  left

room ul li.complete > span
  text-decoration line-through