<div class="rooms-wrapper">
    <div class="room" *ngFor="let room of rooms">
        <h3>{{room.name}}</h3>
        <p>{{room.description}}</p>
        <button (click)="roomEnter(room)">Enter Room</button>
        <button *ngIf="room.createdBy._id === me._id" (click)="roomDelete(room)">Delete Room</button>
    </div>
</div>

<div class="room-create" [class.active]="roomCreateToggle">
    <span class="create-open" (click)="roomCreateToggle = !roomCreateToggle">{{roomCreateToggle ? 'Close' : 'Create Room'}}</span>
    <h4>Create New Room</h4>

    <form (ngSubmit)="roomCreate()" #roomForm="ngForm">
        <div class="row">
            <label for="name">Name</label>
            <input
                    class="u-full-width"
                    type="text"
                    placeholder="Some Title"
                    id="name"
                    name="name"
                    required
                    [(ngModel)]="roomName"
                    #name="ngModel">
        </div>
        <div class="row">
            <label for="roomDescription">Description</label>
            <textarea
                    class="u-full-width"
                    placeholder="What is this room about?"
                    id="roomDescription"
                    name="description"
                    required
                    [(ngModel)]="roomDescription"
                    ngControl="desc"
                    #description="ngForm"></textarea>
        </div>
        <div class="row">
            <button class="button" type="submit" [disabled]="!roomForm.form.valid">Create</button>
        </div>
    </form>

</div>