<div class="rooms-wrapper">
    <div class="room" *ngFor="let room of rooms">
        <h3>{{room.name}}</h3>
        <p>{{room.description}}</p>
        <button (click)="roomEnter(room)">Enter Room</button>
        <button *ngIf="room.createdBy._id === me._id" (click)="roomDelete(room)">Delete Room</button>
    </div>
</div>

<button class="create-open" (click)="roomCreateToggle = !roomCreateToggle">{{roomCreateToggle ? 'Create Room' : 'Close'}}</button>

<div class="room-create" [hidden]="!roomCreateToggle">
    <h3>Create New Room</h3>

    <form (ngSubmit)="roomCreate()" #roomForm="ngForm">
        <div class="row">
            <label for="name">Name</label>
            <input
                    class="u-full-width"
                    type="text"
                    placeholder="Some Title"
                    id="name"
                    required
                    [(ngModel)]="roomName"
                    ngControl="name"
                    #name="ngForm">
        </div>
        <div class="row">
            <label for="roomDescription">Description</label>
            <textarea
                    class="u-full-width"
                    placeholder="What is this room about?"
                    id="roomDescription"
                    [(ngModel)]="roomDescription"
                    ngControl="desc"
                    #desc="ngForm"></textarea>
        </div>
        <div class="row">
            <button class="button" type="submit" [disabled]="!roomForm.form.valid">Create</button>
        </div>
    </form>

</div>